.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 2em;
    text-transform: uppercase;
    margin-top: -20px;
    font-family: 'Play', sans-serif;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.header li {
    float: left;
}
  
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  
img.portada {
	border: 1px solid black;
}  
/* Change the link color to #111 (black) on hover */
.header li a:hover {
    background-color: #111;
    color: #4392F1
}

/* originals3 */
.letter {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.letter a {
    float: right;
    /* font-size: 1rem; */
}

.letter label {
    font-weight: bold;
}

/* grid */
	
.grid-portada {
	height: 250px;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hide {
	display: none;
}

.grid-info ul {
	padding-left: 10px;
}
.grid-info li {
    list-style: none;
	font-size: 14px;
}

/* vot */

.vot-portada {
/* 	height: 245px; */
	width: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
}

.vot-portada img{
/* 	max-width: 245px; */
/* 	max-height: 245px; */
}

.current .grid-info {
	text-align: center;
}