.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.title {
    font-size: 2em;
    text-transform: uppercase;
    margin-top: -20px;
    font-family: 'Play', sans-serif;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.header li {
    float: left;
}
  
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.small-text {
	font-size: 0.8rem; 
} 
  
img.portada {
	border: 1px solid black;
}  
/* Change the link color to #111 (black) on hover */
.header li a:hover {
    background-color: #111;
    color: #4392F1
}

/* originals3 */
.letter {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.letter a {
    float: right;
    /* font-size: 1rem; */
}

.letter label {
    font-weight: bold;
}

.bold {
	font-weight: bold;
}

/* grid */
	
.grid-portada {
	height: 250px;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hide {
	display: none;
}

.grid-info ul {
	padding-left: 10px;
}
.grid-info li {
    list-style: none;
	font-size: 14px;
}

.fitxa-mes-llibres .grid-portada {
	max-height: 150px
}

/* vot */

.vot-portada {
/* 	height: 245px; */
	width: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto;
}

.vot-portada img{
/* 	max-width: 245px; */
/* 	max-height: 245px; */
}

.current .grid-info {
	text-align: center;
}

.float-right {
	float: right;
}

/* == TABLES == */


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

table th.pos,
table td.pos {
	width: 55px;
}

table th.any,
table td.any {
	width: 120px;
	
}

table td.pos {
	text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
    text-align: left;
}

 .content-block {
 	margin-top: 15x;
 	margin-bottom: 15px;
 }
 
 tr.pendent {
 	color: lightgray;
 }

  iframe.bingo {
  	width: 100%;
  	max-width: 600px;
  	height: 600px;
  }
  
/*   recomanador BEGIN */
	#poll .btn, #result .btn {
		width: 75%;
		margin: 5px 0;
	}		
	
	#carouselExampleCaptions {
		max-width: 475px;
		margin: 5px auto;
	}
	
	.car-portada {
		height: 450px;
		width: 280px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0 auto;
	}
	
	.carousel-caption {
		color: black;
		position: unset;
		max-width: 70%;
	 			margin: 0 auto;
	 			height: 180px;
	}


	.carousel-control-prev, a.carousel-control-next {
	    background-color: black;
	    height: 50px;
	 			margin: auto;
	} 

/*   recomanador ENDS */
  
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  
  table th.pos,
	table td.pos,
	table th.any,
	table td.any {
	width: 100%;
	text-align: right;
  }
  
  iframe.bingo {
  	width: 100%;
  	max-width: 600px;
  	height: 300px;
  }
}